
body {
    background-color: #ab5cbe;
    overflow: hidden;
}

.gameDiv {
    /*outline: black dashed 2px;*/
    opacity: 0.15;
    background-color: white;
    border: none;
    border-radius: 0%;
    width: 90px;
    height: 20px;  
}

.title {
    font-family: 'Suez One', serif;
    color: #8ed1c8;
    font-size: 105px;
    position: absolute;
    bottom: 800px;
    right: 700px;
    text-shadow: 2px 3px 2px rgb(88, 87, 87);
    z-index: 3; /* Higher z-index */
}

.letterFirst {
    /*outline: black dashed 2px;*/
    transition: 0.4s;
    transform: translateX(0);
    cursor: grab;
    position: absolute;
    right: 610px;
}

.letterMiddle {
    /*outline: black dashed 2px;*/
    transition: 0.4s;
    transform: translateX(0);
    cursor: grab;
    position: absolute;
    right: 110px;
}

.letterLast {
    /*outline: black dashed 2px;*/
    transition: 0.4s;
    transform: translateX(0);
    cursor: grab;
    position: absolute;
    left: 10px;
}

.letterFirst:hover {
    transform: translatey(-1rem);
    background: -webkit-linear-gradient(120deg,
    hsl(19, 90%, 52%), hsl(56, 100%, 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color:black;
}

.letterMiddle:hover {
    transform: translatey(-1rem);
    background: -webkit-linear-gradient(120deg,
    hsl(19, 90%, 52%), hsl(56, 100%, 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color:black;
}

.letterLast:hover {
    transform: translatey(-1rem);
    background: -webkit-linear-gradient(120deg,
    hsl(19, 90%, 52%), hsl(56, 100%, 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color:black;
}

.playerUser {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 30px;
    bottom: 450px;
}

.playerComp {
    width: 500px;
    height: 500px;
    position: absolute;
    right: 850px;
    bottom: 450px;
}

#user {
    position: absolute;
    right: 180px;
    bottom: 214px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
}

#computer {
    position: absolute;
    left: 980px;
    bottom: 217px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
}

#startButton {
    /*outline: black dashed 2px;*/
    width: 300px; 
    height: 300px;
    position: absolute;
    left: 280px;
    top: 200px;
}