
body {
    background-color: rgb(171, 92, 190);
    overflow: hidden;
}

.gameDiv {
    /*outline: black dashed 2px;*/
    opacity: 0.15;
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;  
}
